<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css') }}">
</head>


<body>

    <h1>Vending Machine Summary</h1>
    <div style="text-align: right; margin-bottom: 10px;">
    <a href="/logout" class="action-box">Log Out</a>
</div>

<section>
    <h2>Staff Summary</h2>

    <table class = "inventory-table">
        <tr>
            <th>Metric</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Items out of stock</td>
            <td>{{items_out}}</td>
        </tr>
        <tr>
            <td>Low items</td>
            <td>{{low_items}}</td>
        </tr>
        <tr>
            <td>Last time checked</td>
            <td>{{last_checked}}</td>
        </tr>
        <tr>
            <td>Previous staff member</td>
            <td>{{staff_name}}</td>
        </tr>
    </table>
    </section>

    <section>
        <h2>System Actions</h2>
	<div class = "action-links">
        <a href="/stock" class = "action-box"> View Stock</a>
        <a href="/restock" class = "action-box">  Restock Items</a>
    </section>

</body>
</div>
</html>
