<!DOCTYPE html> 
<html lan = "en">
    <head>
    <meta charset="UTF-8">
    <title>FORGOT PASSWORD</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css') }}">
    </head>
    <body> 
    <div class="AccountSetup">
        <h1>Password Help</h1>
        <p>Enter your approved staff username.</p>

        <form method="POST">
            <input type="text" name="username" placeholder="Staff username">
            <button type="submit">Request Password</button>
        </form>

        {% if message %}
            <p>{{ message }}</p>
        {% endif %}

        <a href="/" class="forgot">Back to Login</a>
    </div>
    </body>
</html>
