<!DOCTYPE html>
<html lang = "en">

  <head>
    <meta charset = "UTF-8">
    <title> Vending Machine Inventory </title>
  </head>
  <body>
    <h1> Vending Machine Inventory Dashboard</h1>
    <section>
      <h2> Needs Restocking</h2>

      <table>
	<tr>
	  <th>Slot</th>
	  <th>Item</th>
	  <th>Quantity</th>
	  <th>Status</th>
	</tr>

	<tr>
	  <td> A1</td>
	  <td>Doritos</td>
	  <td>1 /10 </td>
	  <td>LOW</td>
	</tr>

      </table>
    </section>
    
      <section>
	<h2> Inventory Ok </h2>
	</section>
	  </body>
</html>

