A<!DOCTYPE html>
<html lang = "en">

  <head>
    <meta charset = "UTF-8">
    <title> Vending Machine Inventory </title>
    <link rel= "stylesheet" href = "../static/style.css">
  </head>
  <body>
    <h1> Vending Machine Inventory Dashboard</h1>
    <section>
      <h2> Needs Restocking</h2>

      <table border = "1">

	<tr>
	  <th>Slot</th>
	  <th>Item</th>
	  <th>Quantity</th>
	  <th>Max</th>
	  <th>Status</th>
	  <th>Save</th>
	</tr>

	<tr>
	  <td> A1</td>
	  <td>Doritos</td>
	  <td><input type = "number" value ="0" min = "0"> </td>
	  <td><input type = "number" value = "10" min = "1"></td>
		     <td>
		       <select>
			 <option class ="out"> OUT </option>
			 <option class = "low"  selected> LOW </option>
			 <option class = "good">GOOD </option>
		       </select>	       
	</tr>
	<tr>
	  <td> B2 </td>
	  <td> Pencils</td>
	 <td><input type = "number" value ="0" min = "0"> </td>
          <td><input type = "number" value = "7" min = "1"></td>
                     <td>
                       <select>
                         <option class ="out"> OUT </option>
                         <option class = "low"  selected> LOW </option>
                         <option class = "good">GOOD </option>
                       </select>
	

	
	</tr>
	<tr>
          <td> C5 </td>
          <td> Tissues</td>
         <td><input type = "number" value ="0" min = "0"> </td>
          <td><input type = "number" value = "12" min = "1"></td>
                     <td>
                       <select>
                         <option class ="out"> OUT </option>
                         <option class = "low"  selected> LOW </option>
                         <option class = "good">GOOD </option>
                       </select>
        </tr>
	<tr>
          <td> F7 </td>
          <td> Charger</td>
          <td><input type = "number" value ="0" min = "0"> </td>
          <td><input type = "number" value = "8" min = "1"></td>
                     <td>
                       <select>
                         <option class ="out"> OUT </option>
                         <option class = "low"  selected> LOW </option>
                         <option class = "good">GOOD </option>
                       </select>
	</tr>

</table>
    </section>
    <a href="dashboard.html">
<button>Back to Dashboard</button>
</a>
	  </body>
</html>
