<!DOCTYPE html>

<html lang="en">

<head>

<title>Available Inventory</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>Available Inventory</h1>

<section>

<h2>Items Fully Stocked</h2>

<table class="inventory-table">
  <tr>
    <th>Slot</th>
    <th>Item</th>
    <th>Quantity</th>
    <th>Max</th>
    <th>Price</th>
    <th>Status</th>
    <th>Buy</th>
  </tr>

  {% for item in items %}
  <tr>
    <td> {{ item.slot }} </td>
    <td> {{ item.item }} </td>
    <td> {{ item.quantity }} </td>
    <td> {{ item.max }} </td>
    <td> $ {{ "%.2f"| format(item.price) }} </td>
    <td class = "
		 {% if item.status == 'GOOD' %} good
		 {% elif item.status == 'LOW' %} low
		{% else %} out
		{% endif %}">
      {{ item.status }}
    </td>

    <td>
      <a href = "/buy/{{ item.slot }}" >
	<button class = "save-btn"> Buy </button>
      </a>
    </td>
  </tr>
  {% endfor %}
  </table>


<section class="action-links">

<a href="/dashboard" class="action-box">Back to Dashboard</a>

<a href="/restock" class="action-box">Go to Restock</a>

</section>

</body>

</html>
