<!DOCTYPE html>
<html lang = "en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <div class = "login-container">
    <img src="{{ url_for('static', filename='images/umbclogo.jpg') }}" class="logo">
    <title>Vending Machine System </title>
  </head>
  <nav>
  <body>
    <h1> Welcome to the Inventory System </h1>
    <h2> Staff Login </h2>
    {% if error %}
    <p style = "color:red;">{{ error}} </p>
    {% endif %}
    <form method = "POST">
      <input type = "text" name = "username" placeholder = "UMBC ID">
    <br><br>
    <input type = "password" name = "password" placeholder = "Password">
    <div class="form-actions">
    <a href="https://forms.gle/UQewp7yneGsjfZ6M9" target = "_blank" class="forgot">Forgot your password?</a>
    <button type="submit"><strong>Log In</strong></button>
  </div>
    </form>
    </div>
  </body>
  </nav>  


  
  <div class = "hero-image"> </div>
    
</html>		    
    
